{% extends 'base.html' %} <!-- esta es la estructura base de nuestra pagina html-->
{% import 'macros.html' as macros %} <!-- esta es la ruta desde donde exportamos nuestras macros, que son trozos de código que se pueden implantar en nuestras páginas-->
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} <!-- estos bloques representan lo que quieres que se represente en un archivo html que tenga el bloque-->
    {{super()}}
    Welcome
{%endblock%}
<!-- este constexto se importa desde main.py, es un diccionario-->
{%block content%}
    {% if user_name %}
        <h1>bienvenido, {{ user_name | capitalize }}</h1>
    {% endif %}    
    {%if user_ip %}
        <h3>hola, estoy escribiendo esto con templates y tu ip es {{user_ip}}</h3>
    {% else %}
        <a href="{{ url_for('index') }}">ir a inicio</a> <!-- esto llama a la url index definida en main.py-->
    {% endif %}

    <div>
        <h2>Crea una nueva tarea</h2>

        {{ wtf.quick_form(todo_form)  }}
    </div>


    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }} <!-- esto llama a la macro-->
        {% endfor %}    

    </ul>

{%endblock%}

